node_modules
dist
.env
.env.*
.envrc
.git
.gitignore
README.md
.eslintrc.js
.prettierrc
coverage
.nyc_output
.DS_Store
*.log
test/
tests/
coverage.json
generated/
src/
*.ts
*.map
prisma/migrations/
API_DOCUMENTATION.md
*.swp
*.swo
*~
.env.test
docker-compose.test.yml
.history
.cache
.vscode
.idea
.c9
.eslintcache
.prettiercache
*.bak
.tmp
.temp
*.code-workspace